<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MovieList_Viper.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C49884242A8FFE3900D54372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C498843A2A8FFE3A00D54372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C49884442A8FFE3A00D54372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
